<body class="mat-app-background">
    <!-- Toolbar -->
    <mat-toolbar color='primary'>
        <mat-toolbar-row color='accent'>
            <span> Cloud Eye  - Server Monitoring Application</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <mat-grid-list cols="2">
            <mat-grid-tile>
                Your password reset was successull.
                <p>
                    <div>
                        <button mat-button color="accent" (click)='showlogin()'>
                        <mat-icon class="dash-icon" >account_box</mat-icon>Login
                    </button>
                    </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</body>