<body class="mat-app-background">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Welcome {{username}}</span>
            <span class="dash-spacer"></span>
            <button mat-icon-button [routerLink]="['./']">
              <mat-icon class="dash-icon" aria-hidden="false" aria-label="home icon">home</mat-icon>
            </button>
            <button mat-icon-button aria-label="logout" (click)="logout()">
              <mat-icon class="dash-icon" aria-hidden="false" aria-label="exit_to_app icon">exit_to_app</mat-icon>
            </button>
            <!-- <mat-icon class="dash-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
        </mat-toolbar-row>

    </mat-toolbar>


    <mat-sidenav-container class='sidenavContainer'>
        <mat-sidenav class='sidenav' #sidenav mode="side" [(opened)]="opened">

            <div class='sidenav-content'>
                <button mat-button color="accent" [routerLink]="['./profile']">
                    <mat-icon class="dash-icon" >person</mat-icon>My Profile
                </button>
            </div>
            <div class='sidenav-content' *ngIf="isAdmin">
                <button mat-button color="accent" [routerLink]="['./admin']">
                    <mat-icon class="dash-icon" >account_box</mat-icon>Admin
                </button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <p>
                <button mat-icon-button aria-label="menu" (click)="togglemenu()">
                <mat-icon class="dash-icon" aria-hidden="false" aria-label="menu icon">menu</mat-icon>
            </button>
            </p>
            <div class='main-container' color='primary'>

                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>